@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin flex_space_center() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex_center_center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin modal() {
  min-width: 320px;
  max-width: 98%;
  min-height: 100px;
  top: 50%;
  left: 50%;
  padding: 12px;
  z-index: 99999;
  position: fixed;
  border-radius: 6px;
  background-color: #1e1e1e;
  transform: translate(-50%, -50%);
  border: thin solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  .button {
    &.success { border-bottom: thin solid rgba(0, 255, 34, 0.25); }
    &:hover:before {
      opacity: 0.1;
    }
    &::before {
      background-color: currentColor;
      border-radius: inherit;
      bottom: 0;
      color: inherit;
      content: "";
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    }
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px;
    margin: 4px 0;
    border-radius: 6px;
    position: relative;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border: thin solid rgba(255, 255, 255, 0.12);
  }
}

@mixin modal_window() {
  .modal {
    min-width: 320px;
    max-width: 98%;
    top: 50%;
    left: 50%;
    z-index: 99999;
    position: fixed;
    padding: 12px;
    border-radius: 4px;
    background-color: #1e1e1e;
    transform: translate(-50%, -50%);
    border: thin solid rgba(255, 255, 255, 0.12);
    .header {
      display: flex;
      font-weight: 600;
      font-size: 1.6rem;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
    .main {
      .point {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        .title {
          font-weight: 400;
          font-size: 1.2rem;
        }
        .values {
          display: flex;
          padding: 6px 0;
          flex-direction: row;
          justify-content: space-evenly;
          .value {
            padding: 4px 6px;
            cursor: pointer;
            position: relative;
            border-radius: 4px;
            &:hover {
              &:before {
                opacity: 0.1;
              }
            }
            &:before {
              @include before;
            }
          }
          .selected {
            margin-bottom: -1px;
            border-bottom: thin solid rgba(0, 255, 34, 0.25);
            &:before {
              @include before;
              opacity: 0.1;
            }
          }
        }
      }
      select {
        color: #fff;
        margin: 6px 0;
        outline: none;
        cursor: pointer;
        padding: 6px 8px;
        font-size: inherit;
        border-radius: 6px;
        background: #121212;
        border: thin solid rgba(255, 255, 255, 0.12);
      }
      textarea {
        width: 100%;
        color: #fff;
        background: #1e1e1e;
        padding: 4px 8px;
        border-radius: 6px;
        min-height: 104px;
        outline: none;
        border: thin solid rgba(255, 255, 255, 0.01);
        &:hover,
        &:focus {
          outline: none;
          border: thin solid rgba(255, 255, 255, 0.12);
        }
        &:focus {
          box-shadow: inset 0 0 2px 0px #fff;
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .modal_btn {
      margin: 6px 0;
      padding: 8px;
      cursor: pointer;
      max-height: 34px;
      position: relative;
      border-radius: 6px;
      align-items: center;
      display: inline-flex;
      text-decoration: none;
      justify-content: center;
      text-transform: uppercase;
      border: thin solid rgba(255, 255, 255, 0.12);
      &:hover {
        &:before {
          opacity: 0.1;
        }
      }
      &:before {
        @include before;
      }
    }
  }
}

@mixin before() {
  background-color: currentColor;
  border-radius: inherit;
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

@mixin text_two_line() {
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

@mixin modal_items {
  .modal__items {
    display: flex;
    padding: 2px 4px;
    position: absolute;
    border-radius: 6px;
    background: #1e1e1e;
    flex-direction: column;
    .item {
      margin: 2px 0;
    }
  }
}

@mixin btn_switcher() {
  .switch {
    position: relative;
    display: inline-block;
  }
  .switch-input {
    display: none;
  }
  .switch-label {
    display: block;
    width: 36px;
    height: 12px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
  }
  .switch-label::before,
  .switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }
  .switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #8c8c8c;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  .switch-label::after {
    top: -3px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }
  .switch-input:checked + .switch-label::before {
    background-color: #89c12d;
  }
  .switch-input:checked + .switch-label::after {
    left: 18px;
  }
}

@mixin btn_line() {
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .btn-text-action {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 4px 10px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    &:hover {
      &:before {
        opacity: 0.1;
      }
    }
    &:before {
      @include before;
    }
  }
  button {
    @include button;
    &:first-of-type {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: thin solid rgba(255, 255, 255, 0.12);
      border-right: none;
    }
    &:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border: thin solid rgba(255, 255, 255, 0.12);
      border-left: none;
    }
  }
  .btn-select {
    height: 36px;
    position: relative;
    min-width: fit-content;
    display: flex;
    align-items: center;
    border: thin solid rgba(255, 255, 255, 0.12);
    // border-top: thin solid rgba(255, 255, 255, 0.12);
    // border-bottom: thin solid rgba(255, 255, 255, 0.12);
    .btn-selected {
      height: 100%;
      padding: 0 12px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &:hover {
        &:before {
          opacity: 0.1;
        }
      }
      &:before {
        @include before;
      }
    }
    .values {
      background-color: #121212;
      top: 100%;
      left: 0;
      right: 0;
      position: absolute;
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-width: 100%;
      max-height: 500px;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 4px;
      border: thin solid rgba(255, 255, 255, 0.12);
      z-index: 10;
      .value {
        height: 36px;
        cursor: pointer;
        display: flex;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        &:hover {
          &:before {
            opacity: 0.1;
          }
        }
        &:before {
          @include before;
        }
      }
    }
  }
}

@mixin button {
  height: 36px;
  min-width: 40px;
  color: #fff;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  .material-design-icon {
    font-size: 2rem;
  }
  &:hover {
    &:before {
      opacity: 0.1;
    }
  }
  &:before {
    @include before;
  }
}

@mixin btn_line_full {
  height: 36px;
  margin: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__button {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px;
    margin: 0px 6px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    border: thin solid rgba(255, 255, 255, 0.12);
    &:hover {
      &:before {
        opacity: 0.1;
      }
    }
    &:before {
      @include before;
    }
    span {
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
  .nuxt-link-exact-active {
    &:before {
      background-color: currentColor;
      opacity: 0.1;
    }
  }
}

@mixin scroll_bar {
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: $dark_primary;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $orange_primary;
    border-radius: 6px;
  }
}

@mixin action_save {
  .create {
    .action {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .save,
      .more,
      .cancel {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        padding: 8px;
        margin: 6px 0;
        cursor: pointer;
        max-height: 34px;
        position: relative;
        border-radius: 6px;
        text-decoration: none;
        text-transform: uppercase;
        border: thin solid rgba(255, 255, 255, 0.12);
      }
      button.save,
      button.more,
      button.cancel {
        color: #ffffff;
        background-color: #121212;
      }
      .save {
        border-bottom: thin solid rgba(0, 255, 34, 0.25);
        &:hover {
          border: thin solid rgba(0, 255, 34, 0.25);
          &:before {
            opacity: 0.1;
          }
        }
        &:before {
          @include before;
        }
      }
      .more {
        border-bottom: thin solid rgba(255, 166, 0, 0.25);
        &:hover {
          border: thin solid rgba(255, 166, 0, 0.25);
          &:before {
            opacity: 0.1;
          }
        }
        &:before {
          @include before;
        }
      }
      .cancel {
        border-bottom: thin solid rgba(255, 0, 0, 0.25);
        &:hover {
          border: thin solid rgba(255, 0, 0, 0.25);
          &:before {
            opacity: 0.1;
          }
        }
        &:before {
          @include before;
        }
      }
    }
  }
}

@mixin creation_pages {
  .create {
    min-height: 100vh;
    border-left: thin solid rgba(255, 255, 255, 0.12);
    border-right: thin solid rgba(255, 255, 255, 0.12);
    &__fields {
      &__image {
        margin: 20px 0;
        .cover {
          margin: 8px 0;
        }
        .bg_cover {
          margin: 8px 0;
        }
        span {
        }
      }
      &__input {
        margin: 20px 0;
        .note {
          border-radius: 2px;
          padding: 4px 4px 4px 8px;
          border-left: 6px solid rgba(0, 255, 34, 0.25);
          a {
            border-radius: 6px;
            border-bottom: 1px solid rgba(0, 255, 34, 0.25);
          }
        }
        input {
          width: 100%;
          color: #fff;
          height: 36px;
          margin: 4px 0;
          padding: 0 8px;
          font-size: inherit;
          border-radius: 6px;
          background: #1e1e1e;
          border: thin solid rgba(255, 255, 255, 0.12);
        }
        textarea {
          width: 100%;
          color: #fff;
          background: #1e1e1e;
          margin: 4px 0;
          padding: 8px 12px;
          font-size: inherit;
          border-radius: 6px;
          min-height: 104px;
          outline: none;
          border: thin solid rgba(255, 255, 255, 0.12);
          &:hover,
          &:focus {
            outline: none;
            border: thin solid rgba(255, 255, 255, 0.12);
          }
          &:focus {
            box-shadow: inset 0 0 2px 0px #fff;
          }
        }
        .member {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          #member {
            width: 36px;
            cursor: pointer;
          }
          input {
            height: 20px;
          }
        }
      }
    }
  }
}

@mixin create_chapter {
  .create {
    min-height: 100vh;
    border-left: thin solid rgba(255, 255, 255, 0.12);
    border-right: thin solid rgba(255, 255, 255, 0.12);

    .create__fields {
      &__input {
        .upload_chapters {
          .upload_chapter {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
          }
          .chapter_short {
            display: flex;
            flex-grow: 0;
            margin-right: 4px;
            justify-content: space-around;
            input:first-of-type {
              width: 42px;
            }
            input:last-of-type {
              width: 58px;
            }
            input {
              text-align: center;
            }
          }
          .chapter_name {
            margin-right: 4px;
            flex-grow: 1;
          }
          .chapter_team {
            display: flex;
            align-items: center;
            margin-right: 4px;
            flex-grow: 1;
            max-width: 210px;
            min-width: 210px;
          }
          .chapter_file {
            display: flex;
            flex-grow: 1;
            width: 100%;
            max-width: 200px;
            align-items: center;
            justify-content: space-between;
            label {
              padding: 0 4px;
              overflow: hidden;
              text-align: left;
              align-items: center;
              white-space: nowrap;
              text-overflow: ellipsis;
              position: relative;
              cursor: pointer;
              width: 100%;
              border: 2px;
              height: 32px;
              background: #1e1e1e;
              line-height: 32px;
              &:hover {
                &:before {
                  opacity: 0.1;
                }
              }
              &:before {
                @include before;
              }
            }
          }
          .input {
            width: 100%;
            color: #fff;
            height: 32px;
            margin: 4px 2px;
            padding: 0 8px;
            font-size: inherit;
            border-radius: 2px;
            background: #1e1e1e;
            border: thin solid rgba(255, 255, 255, 0.12);
          }
          .input_hide {
            display: none;
          }
        }
      }
    }
  }
}

@mixin multiselect {
  .multiselect {
    .multiselect__tags-wrap {
      display: flex;
      flex-wrap: wrap;
    }
    .tag__item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: row;
      margin: 2px 4px;
      padding: 2px 4px;
      border-radius: 2px;
      background-color: #121212;
      .tag__name {
        padding-right: 6px;
        border-right: 1px solid #252525;
      }
      .tag__remove {
        opacity: 0.6;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@mixin progress_bar {
  .progress_bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .percent {
      font-size: 0.9rem;
    }
  }
}

@mixin hidden {
  opacity: 0;
  z-index: -1;
  position: absolute;
  visibility: hidden;
}

@mixin input_text {
  color: #fff;
  margin: 4px 2px;
  padding: 0 8px;
  font-size: inherit;
  border-radius: 2px;
  background: #1e1e1e;
  border: thin solid rgba(255, 255, 255, 0.12);
}

@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: darkgrey;
  }
}

@mixin notice_inline {
  font-size: 1.2rem;
  font-weight: 200;
}
